<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 not found</title>
    <link rel="stylesheet" href="./404styles.css">
</head>
<body>
    <h1>404 :( </h1>
    <h2>Page not found</h2>
    <br>
    <a href="../">back to landing page</a>
    <script>
        //script makes any 404 error reroute the url to be http://localhost:3000/404
        var url = window.location.href;
    function UrlExists(url) {
        var http = new XMLHttpRequest();
        http.open('HEAD', url, false);
        http.send();
        if (http.status != 404)
            return true;
        else
            return false;
    }

      //if using localhost comment out all the replit development code below
      //if using replit comment out all the localhost code below

      
      //localhost development ------------------------
    if(!UrlExists(url) && url != "http://localhost:3000/404"){
        window.location.href = "http://localhost:3000/404";
    }
      //----------------------------------------------


      //replit development ---------------------------
    //   if(!UrlExists(url) && url != "https://year2uniwebgame.jamesbland.repl.co/404"){
    //     window.location.href = "https://year2uniwebgame.jamesbland.repl.co/404";
    //   }
      //----------------------------------------------
    </script>
</body>
</html>