body{
    margin:0px;
    background-color: white;
  background: skyblue;
  overflow: hidden;
}
.gameUi{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  color: rgb(71, 71, 71);
}

.scoreSection{
  position: absolute;
  left:40vw;
  top: 0%;
  width: 20vw;
  height: 10vh;
  background-image: linear-gradient(#5440b6, rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.loadingScreen{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  background-color: antiquewhite;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loadingScreen h1{
  color:black;
}

/* credits https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #000000; /* Light grey */
  border-top: 16px solid rgb(0, 255, 162); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}