body{
    margin:0px;
    background-color: white;
  background: skyblue;
}
.overlay-text{
  display: none;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: rgb(71, 71, 71);
}

.loadingScreen{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  background-color: antiquewhite;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loadingScreen h1{
  color:black;
}

/* credits https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}