body{
    margin:0px;
    background-color: white;
  background: skyblue;
  overflow: hidden;
}
.gameUi{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  color: rgb(71, 71, 71);
}

.bloodSplatter{
   /* The image used */
   background-image: url("../GameAssets/Images/BloodSplatteruiEffect2.png");

   opacity: 0;

   /* Full height */
   height: 100%;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.scoreSection{
  display:grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  grid-template-rows: 1;
  align-items: stretch;
  justify-items: stretch;
  position: absolute;
  left:30vw;
  top: 0%;
  width: 40vw;
  height: 10vh;
  background-image: linear-gradient(#5440b6, rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  text-align: center;
}

.scoreSection p{
  font-size: 150%;
  margin:0;
}

.scoreSection img{
  width: 50px;
  border: 3px solid #ffffff;
  border-radius: 10%;
}

.scoreSection .clientScoreSection{
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}

.scoreSection .clientScoreSection img{
  place-self: center;
}

.scoreSection .clientScoreSection div{
  background-color: #00b4d8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.scoreSection .center{
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreSection .enemyScoreSection{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.scoreSection .enemyScoreSection img{
  place-self: center;
}

.scoreSection .enemyScoreSection div{
  background-color: #f17929;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.loadingScreen{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  background-color: antiquewhite;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loadingScreen h1{
  color:black;
}

#deathButton{
  position: absolute;
  top: 50vh;
  left: 10vw;
}

#healButton{
  position: absolute;
  top: 45vh;
  left: 10vw;
}

#damageButton{
  position: absolute;
  top: 40vh;
  left: 10vw;
}

.playerLostRound{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.playerLostRound H1{
  font-size: 500%;
}

.playerWonRound{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.playerWonRound H1{
  font-size: 500%;
}

.playerWonGame{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.playerWonGame H1{
  font-size: 500%;
}

.playerLostGame{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.playerLostGame H1{
  font-size: 500%;
}

.newRound{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.newRound H1{
  font-size: 450%;
}

/* credits https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #000000; /* Light grey */
  border-top: 16px solid rgb(0, 255, 162); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}