@font-face {
  font-family: myFont;
  src: url(../GameAssets/Fonts/MedivalFont.ttf);
}

@font-face {
  font-family: myFont2;
  src: url(../GameAssets/Fonts/MedievalSharp-Book.ttf);
}

p{
  font-family: myFont2;
}

h1{
  font-family: myFont;
}

a{
  font-family: myFont2;
}

label{
  font-family: myFont2;
}

button{
  font-family: myFont2;
}

input{
  font-family: myFont2;
}


body{
  margin:0;
  padding:0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#backgroundDiv{
  display: flex;
  /*lol*/
  flex-direction: column;
  align-items: center;
  margin:0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#432475, #1d72c1);
  background-repeat: no-repeat;
  text-align: center;
}

label{
  color:white;
}

h1{
  color: #fffffe;
  margin-top: 0;
}

a{
  
}

a:link{
  color: white;
}

a:visited{
  color: #ffffff;
}

a:hover{
  color:#fdb937;
}

a:active{
  color: #0ab0e3;
}

p{
  color: #ffffff;
}

#profilePicture{
  border-radius: 50%; 
  width: 100px;
  height: 100px;
  background-image: url("../GameAssets/Images/DefaultKnightFacingLeft.png");
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center;
  object-fit: contain;
}

#serverListDiv{
  width: 60vw;
  height:45vh;
  background-color: black;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-left-style: solid;
  border-right-style: solid;
  border-left-color: white;
  border-right-color: white;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
}

#createAGameDiv{
  width: 60vw;
  height:15vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

#createAGameDiv input{
  height: 40%;
}

.GameEntryDiv{
  width: 100%;
  background-color: #022b2f;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: white;
  border-bottom-color: white;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.GameEntryDiv p{
  padding-right: 2.5%;
}
