body{
  margin:0;
  padding:0;
}

#backgroundDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#432475, #1d72c1);
  background-repeat: no-repeat;
  text-align: center;
}

label{
  color:white;
}

h1{
  color: #fffffe;
  margin-top: 0;
}

a{
  
}

a:link{
  color: white;
}

a:visited{
  color: #ffffff;
}

a:hover{
  color:#fdb937;
}

a:active{
  color: #0ab0e3;
}

p{
  color: #ffffff;
}
